<html>
<head>
    <title>Haha</title>
    <link href="style.css" rel="stylesheet">
    <script src="angular.js"></script>
    <script src="skripta.js"></script>
    </head>

<body ng-app="app1" ng-controller="imeControllera">
    
    <h1 id="n1">Naslov</h1>
    
    {{  varijabla   }}<br>
        <br>
<br>
<input type="number" ng-model="broj1"> <br>
    <input type="number" ng-model="broj2"> <br>
        <button ng-click ="broj1=''; broj2=''" >Clear</button>
        {{ broj1+broj2}}
    
    <div ng-show="(broj1+broj2)>100">
    Nesto
    </div>
    </body>

</html>