<h1>Ovo je profil page</h1>

<div class="wrapper">
    
<div class="ispis">
<p ng-show="profil.firstname!='' && profil.lastname!='' && profil.age!=''">Vaše ime je {{profil.firstname}} {{profil.lastname}} i imate {{profil.age}} god.</p>
<p ng-show="profil.inventar!=''">Popis inventara:</p>
<ul id="lista" ng-repeat="x in profil.inventar"><li>{{x}}</li></ul>
</div>

<div class="profil">
Ime:
<input ng-model="profil.firstname" /> <br>
Prezime:
<input ng-model="profil.lastname" /> <br>
Godine:
<input ng-model="profil.age" /> <br>
Dodaj u inventar:
<input ng-model="text" />  
<button ng-click="submit()">Dodaj</button> <br>
</div>
    
</div>