		.zeleno {
			background-color: green;
		}

		h1 {
            width: 350px;
    padding: 5px;
			color: red;
			font-style: italic;
			font-size: 140%;
		}

		
        
        #uvjek{
            background-color:beige;
            border-style: dashed;
            text-align: center;
            position: fixed;
            bottom: 0px;
        }
body{
    background-color:azure;
    
}
#ispis{
    
    top:20px;
    right:50px;
    width: 350px;
    border: 1px solid green;
    
}
div{
    width: 350px;
    border: 1px solid green;
}